<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DomainConfig" type="EDC.Configuration.DomainConfig, EDC.PuppyMommy"/>
    </configSections>
    <DomainConfig>
        <Dogs>
            <Dog Watch="\\nas-xxx\Fab2\fanout">
                <Sniff Loader="Simple2Loader" Feeder="Simple2Storer"/>
                <Sniff Loader="Nikon2Loader" Feeder="Fanout2Storer"/>
            </Dog>
            <Dog Watch="\\nas-xxx\Fab\fanout">
                <!--<Sniff Loader="SimpleLoader" Feeder="SimpleStorer"  />
                <Sniff Loader="NikonLoader" Feeder="FanoutStorer" />-->
            </Dog>
            <Dog Watch="\\nas-xxx\Fab3\fanout"/>
        </Dogs>
    </DomainConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
