<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DomainConfig" type="EDC.Configuration.DomainConfig, EDC.PuppyMommy"/>
    </configSections>
    <DomainConfig>
        <Dogs>
            <Dog Name="FanoutFPD" Watch=".\FanoutFPD" CronScheduler="0/10 * * * * ? *">
                <Sniff Loader="EDC.Loader.SimpleLoader, EDC.PuppyMommy" Feeder="EDC.Feeder.SimpleStorer"/>
                <Sniff Loader="EDC.Loader.NikonLoader" Feeder="EDC.Feeder.FanoutStorer"/>
            </Dog>
            <!--no effect-->
            <Dog Name="_Nikon" Watch=".\Nikon" CronScheduler="0 0/20 * * * ? *">
                <!--<Sniff Loader="SimpleLoader" Feeder="SimpleStorer"  />
                <Sniff Loader="NikonLoader" Feeder="FanoutStorer" />-->
            </Dog>
            <!--no effect-->
            <Dog Name="__FanoutET" Watch="FanoutET" CronScheduler="0 0/10 * * * ? *"/>
        </Dogs>
    </DomainConfig>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
