<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DomainConfig" type="EDC.Configuration.DomainConfig, EDC.PuppyMommy"/>
    </configSections>
    <DomainConfig>
        <Dogs>
            <Dog Name="FanoutFPD" Watch="\\nas-xxx\Fab2\fanout" CronScheduler="0/5 * * * * ? *">
                <Sniff Loader="Simple2Loader" Feeder="Simple2Storer"/>
                <Sniff Loader="Nikon2Loader" Feeder="Fanout2Storer"/>
            </Dog>
            <Dog Name="_Nikon" Watch="\\nas-xxx\Fab\fanout" CronScheduler="0/10 * * * * ? *">
                <!--<Sniff Loader="SimpleLoader" Feeder="SimpleStorer"  />
                <Sniff Loader="NikonLoader" Feeder="FanoutStorer" />-->
            </Dog>
            <Dog Name="__FanoutET" Watch="\\nas-xxx\Fab3\fanout"/>
        </Dogs>
    </DomainConfig>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
